@import './base.css';

header {
  app-region: drag;
}

button {
  app-region: no-drag;
}

/* MDX EDITOR link style */
.prose a {
  color: #006adc !important;
  text-decoration: none;
}

/* SCROLL BAR STYLE */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #95a5a6;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #2c3e50;
}

.dark ::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #2c3e50;
  border: 1px solid transparent;
}

.dark ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #95a5a6;
}

/* Theme toggle animation */
@keyframes move-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: 0.6s ease-out both move-out;
}

::view-transition-new(root) {
  animation: 0.6s ease-in both move-in;
}
